.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 5px;
  color: white;
}
.App-Footer
{
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color:#efefef;
    color:black;
    text-align: center;
    padding: 0px;
}
.App-title {
  font-size: 1.5em;
}

* {
  box-sizing: border-box;
}

.input[type=text], select, textarea {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  resize: vertical;
}

.label {
  padding: 8px;
  display: inline;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 0px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}

.right {
  position: absolute;
  right: 200px;
  width: 300px;
  padding: 10px;
}
.center {
  padding: 50px 0;
  text-align: center;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}